<h3>This is about.ejs - the child view file thingy</h3>
<p>Pretend that this is an about page on a website...The header and footer are are only populated because they are on the layout page and that is the wrapper..</p>
